.mainAddButton {
	padding: 10px;
	margin: 20px;
	background-color: #d1411e;
	width: 150px;
	border-radius: 3px;
	color: white;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.mainAddButton:hover {
	background-color: rgb(194, 29, 0);
}
.container {
	width: 100vw;
	height: 100vh;
	background-color: rgb(26 26 26 / 52%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.wrapper {
	width: 500px;
	background-color: white;
	padding: 10px 30px;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.close {
	width: 30px;
	height: 30px;
	background-color: black;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	top: -10px;
	right: -10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 0.05s ease-in-out;
	-webkit-transition: all 0.05s ease-in-out;
	-moz-transition: all 0.05s ease-in-out;
	-ms-transition: all 0.05s ease-in-out;
	-o-transition: all 0.05s ease-in-out;
}
.close:hover {
	background-color: rgb(0, 0, 0);
	border: 3px solid #f15730;
}
.item {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.label {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 500;
}
.input {
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
}
.priceContainer {
	display: flex;
	justify-content: space-between;
}
.inputSm {
	width: 25%;
}
.priceContainer .inputSm {
	width: 50%;
}
.priceContainer div button {
	margin-left: 4px;
	display: inline-flex;
	padding: 1px 3px 1px 3px;
	border-radius: 2px;
	position: relative;
	top: 3px;
	right: 0;
	cursor: pointer;
	background-color: #522ed6;
	color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
html[dir='rtl'] .priceContainer div button {
	margin-right: 4px;
	margin-left: 0;
	right: auto;
	left: 0;
}
.priceContainer div button:hover {
	background-color: #522ed6;
}
.extra {
	display: flex;
	justify-content: space-between;
}
.extraItems {
	margin: 10px 0px;
	display: flex;
	flex-wrap: wrap;
}
.extraItem {
	padding: 5px;
	font-size: 14px;
	border: 1px solid rgb(127, 127, 127);
	background-color: white;
	color: tomato;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.extraItem span {
	margin-right: 10px;
}
html[dir='rtl'] .extraItem span {
	margin-right: 0;
	margin-left: 10px;
}
.addButton {
	width: 25%;
	border: none;
	background-color: teal;
	color: white;
	font-weight: 500;
	cursor: pointer;
	padding: 5px 0;
	align-self: flex-end;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.addButton:hover {
	background-color: rgb(0, 100, 100);
}
.priceContainer button {
	border: none;
	background: #008080;
	border-radius: 16px;
	padding: 0px 3px;
	color: aliceblue;
	cursor: pointer;
}
.priceContainer .button2 svg {
	position: relative;
	top: 2px;
	left: 0.2px;
}
.priceContainer button:hover {
	background: #004f4f;
}
.extra button {
	border: none;
	background: #008080;
	border-radius: 2px;
	padding: 3px 5px;
	color: aliceblue;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.extra button:hover {
	background: #004f4f;
}
.extraItemRemove {
	border: none;
	background: #522ed6;
	border-radius: 2px;
	padding: 2px 4px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.extraItemRemove:hover {
	background: #522ed6;
}
.extraItemRemove svg {
	position: relative;
	top: 2px;
}
