.container {
	height: calc(70vh - 100px);
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
}
.arrowContainer {
	position: absolute;
	width: 10%;
	height: 20%;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	z-index: 2;
}
.wrapper {
	width: 300vw;
	height: 100%;
	display: flex;
	transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
}
.imgContainer {
	width: 100vw;
	height: 100%;
	position: relative;
}
@media screen and (max-width: 620px) {
	.container {
		height: 50vh;
	}
}
