html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
	/* user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}
body.ar {
	direction: rtl;
}
img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #522ed686 transparent;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.44, hsl(238, 100%, 56%)),
		color-stop(0.72, hsl(237, 68%, 53%)),
		color-stop(0.86, rgb(33, 30, 245))
	);
}
html[dir='rtl'] .MuiButtonBase-root span {
	margin-right: -8px;
	margin-left: 4px;
}
html[dir='rtl'] .flag {
	margin-left: 10px;
	margin-right: 0;
}
.react-tel-input .form-control {
	width: 100% !important;
	padding: 12.5px 14px 12.5px 60px !important;
}
