.container {
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
.desc {
	font-size: 24px;
	color: #444;
	width: 70%;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
	align-items: flex-start;
	justify-content: center;
}
@media screen and (max-width: 620px) {
	.title {
		text-align: center;
	}
	.desc {
		width: 90%;
		text-align: center;
	}
}
