.container {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	z-index: 999;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(49 49 49 / 52%);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.wrapper {
	width: 500px;
	background-color: white;
	border-radius: 20px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 620px) {
	.wrapper {
		width: 95vw;
		position: fixed;
	}
	.container {
		position: fixed;
	}
}
.title {
	font-weight: 300;
}
.item {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
}
.label {
	margin-bottom: 10px;
}
.input {
	height: 40px;
}
.button {
	border: none;
	background-color: teal;
	color: white;
	padding: 10px 20px;
	font-weight: 500;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
}
.button:hover {
	background-color: rgb(0, 128, 0);
}
.button:disabled {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: not-allowed;
}
.closeButton {
	position: relative;
	top: 20px;
	right: -244px;
	background-color: black;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 100000;
}
@media screen and (max-width: 620px) {
	.closeButton {
		right: calc(100vw - 100px);
		top: -249px;
	}
}
.closeButton:hover {
	background-color: rgb(30, 0, 255);
}
