@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 50px 110px 50px;
	margin-bottom: 20%;
}
.card {
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
	overflow: hidden;
	width: 300px;
}
.cardHeader img {
	width: 100%;
	height: 200px;
	-o-object-fit: cover;
	object-fit: cover;
}
.cardBody {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	padding: 20px;
	min-height: 250px;
}
.cardBody hr {
	width: 100%;
	height: 1px;
	background-color: black;
}
.cardBody h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}
.cardBody h6 {
	margin: 15px 0px;
}
.tag {
	border-radius: 4px;
	font-size: 13px;
	margin: 0;
	color: #fff;
	padding: 8px 0px;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	background-color: #301ed1;
	font-weight: 500;
}
.tag .tagTeal {
	background-color: #47bcd4;
}
.tagRed {
	background-color: #e95950;
}
.tagOrange {
	background-color: #ff9500;
}
.tagBlue {
	background-color: #5e76bf;
}
.tagGreen {
	background-color: #47bcd4;
}
.tagYellow {
	background-color: #ffcc00;
}
.tagPink {
	background-color: #cd5b9f;
}
.tagPurple {
	background-color: #5e76bf;
}
.cardBody p {
	font-size: 13px;
	margin: 0 0 40px;
}
.cardBody ul {
	margin: 0;
}
.cardBody ul li {
	margin: 5px 0;
	font-size: 14px;
}
.user {
	display: flex;
	margin-top: auto;
	direction: ltr;
}
.user img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.userInfo h5 {
	margin: 0;
}
.userInfo small {
	color: #545d7a;
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table th,
.table td {
	padding: 4px;
	text-align: left;
}
.table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.table th {
	background-color: #e1e1e1;
	color: black;
}
