.container {
	height: calc(100vh - 100px);
	display: flex;
}
.left {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.right {
	flex: 1;
	padding: 20px;
}
.imgContainer {
	width: 80%;
	height: 80%;
	position: relative;
}
.price {
	color: #d1411e;
	font-size: 24px;
	font-weight: 400;
	border-bottom: 1px solid #d1411e;
}
.sizes {
	width: 40%;
	display: flex;
}
.size {
	width: 35px;
	height: 35px;
	position: relative;
	cursor: pointer;
}
.size:nth-child(2) {
	width: 43px;
	height: 43px;
}
.size:last-child {
	width: 50px;
	height: 50px;
}
.number {
	position: absolute;
	top: -5px;
	right: -20px;
	background-color: teal;
	color: white;
	font-size: 14px;
	padding: 0 5px;
	border-radius: 10px;
	text-wrap: nowrap;
}
.ingredients {
	display: flex;
	margin-bottom: 30px;
}
.option {
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 14px;
	font-weight: 500;
}
.option input,
.option label {
	cursor: pointer;
}
.checkbox {
	width: 20px;
	height: 20px;
}
.quantity {
	width: 85px;
	height: 30px;
	padding: 10px 27px;
}
.button {
	height: 30px;
	margin-left: 10px;
	background-color: #d1411e;
	color: white;
	border: none;
	font-weight: 500;
	cursor: pointer;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
html[dir='rtl'] .button {
	margin-right: 10px;
	margin-left: 0;
}
.button :hover {
	background-color: #af2600;
}
@media screen and (max-width: 620px) {
	.container {
		height: auto;
		text-align: center;
		flex-direction: column;
		margin-top: 20px;
	}
	.imgContainer {
		width: 90vw;
		height: 70vw;
	}
	.title {
		margin: 5px;
	}
	.sizes {
		width: 100%;
		padding: 0px 20px;
		justify-content: center !important;
	}
	.ingredients {
		flex-direction: column;
	}
	.option {
		margin: 10px;
		font-size: 18px;
	}
	.checkbox {
		width: 25px;
		height: 25px;
	}
	.quantity,
	.button {
		height: 50px;
		padding: 10px 20px;
	}
}
